p {
	margin: 5px 0;

	.page .entry-content &, .entry-content &{
		overflow: hidden;
	}
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

code, kbd, tt, var {
	font-family:  Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	@include font-size(.9375);
}

pre{
	white-space: normal;
}

abbr, acronym {
	border-bottom: 1px dotted $color__border;
	cursor: help;
}

mark, ins {
	text-decoration: none;
	padding: 0 4px;
}

big {
	font-size: 125%;
}

.material-icons-more_horiz:before {
	content: "\e5d3";
	font-family: 'Material Icons';
	font-weight: 400;
}

.material-icons-headset_mic:before {
	content: "\e311";
	font-family: 'Material Icons';
	font-weight: 400;
}

.text-normal{
	font-weight: 400;
}