@media(max-width:468px) {
	.navbar-lang {
		display: none;
	}
	
	.nav > .navbar-nav-lang {
		display: block;
	}
}

@media(max-width:768px) {
	h1 {
		font-size: 30px;
	}
	
	h2 {
		font-size: 24px;
	}
	
	h3 {
		font-size: 18px;
	}
	
	.list-2 {
		margin: 0;
	}
	
	.row {
		padding-top: 30px;
	}
	
	.row .row {
		padding-top: 15px;
	}
	
	.row-2 {
		padding-bottom: 20px;
	}
	
	.row-2 p {
		margin-left: 0;
	}
	
	.col-sm-6 {
		padding-bottom: 40px;
	}
	
	.col-sm-6:last-child {
		padding-bottom: 0;
	}
	
	.space-1 {
		padding-left: 0;
	}

	.space-2 {
		padding-right: 0;
	}
	
	section {
		padding: 40px 0;
	}
	
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
	
	.cloneditem-1, .cloneditem-2 {
		display: none;
	}
	
	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right,
	.carousel-control .icon-prev, .carousel-control .icon-next {
		width: 30px;
		height: 30px;
		margin-top: -10px;
		font-size: 30px;
	}
	
	.header {
		display: block;
	}
	
	.header-info {
		padding: 15px;
		font-size: 28px;
	}
	
	.header-image {
		min-height: 210px;
	}
	
	.header .social-icons-1 li {
		margin-right: 20px;
	}
	
	.navbar-right {
		margin-right: -15px;
	}
	
	.navbar-brand {
		margin-left: 15px !important;
	}
	
	.navbar-nav {
		margin: 0 -15px;
	}
	
	.nav > li > a {
		/*padding: 12px 15px;*/
		line-height: 40px;
	}
	
	.left-menu {
		margin-bottom: 30px;
		padding-right: 0;
	}
	
	.left-nav {
		margin-left: 0;
	}
	
	.left-nav li {
		display: inline;
	}
	
	.program-image {
		background-image: none;
		background-position: 0 0;
		height: 0;
	}
	
	#register .col-sm-4 {
		padding-left: 0 !important;
		padding-right: 0 !important;
		margin-bottom: 30px;
	}
	
	#register .col-sm-4:last-child {
		margin-bottom: 0;
	}
	
	.contact-info {
		padding-left: 0;
	}
}

@media (max-width: 992px) {
	/*.navbar-default .nav li a {
		font-size: 15px;
	}*/
	
	#register .col-sm-4 {
		padding-left: 25px;
		padding-right: 25px;
	}
	
	.contact-image {
		height: 300px;
	}
}

@media (max-width: 1200px) {
	.container {
		width: 100%;
	}
}

@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
	.carousel-showthree .carousel-inner > .item.active.right,
	.carousel-showthree .carousel-inner > .item.next {
		-webkit-transform: translate3d(33.333%, 0, 0);
		transform: translate3d(33.333%, 0, 0);
		left: 0;
	}
	.carousel-showthree .carousel-inner > .item.active.left,
	.carousel-showthree .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-33.333%, 0, 0);
		transform: translate3d(-33.333%, 0, 0);
		left: 0;
	}
	.carousel-showthree .carousel-inner > .item.left,
	.carousel-showthree .carousel-inner > .item.prev.right,
	.carousel-showthree .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}

@media all and (min-width: 992px) {
	.carousel-showthree .carousel-inner > .active.left,
	.carousel-showthree .carousel-inner > .prev {
		left: -16.666%;
	}
	.carousel-showthree .carousel-inner > .active.right,
	.carousel-showthree .carousel-inner > .next {
		left: 16.666%;
	}
	.carousel-showthree .carousel-inner > .left,
	.carousel-showthree .carousel-inner > .prev.right,
	.carousel-showthree .carousel-inner > .active {
		left: 0;
	}
	.carousel-showthree .carousel-inner .cloneditem-3,
	.carousel-showthree .carousel-inner .cloneditem-4,
	.carousel-showthree .carousel-inner .cloneditem-5 {
		display: block;
	}
}

@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
	.carousel-showthree .carousel-inner > .item.active.right,
	.carousel-showthree .carousel-inner > .item.next {
		-webkit-transform: translate3d(33.333%, 0, 0);
		transform: translate3d(33.333%, 0, 0);
		left: 0;
	}
	.carousel-showthree .carousel-inner > .item.active.left,
	.carousel-showthree .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-33.333%, 0, 0);
		transform: translate3d(-33.333%, 0, 0);
		left: 0;
	}
	.carousel-showthree .carousel-inner > .item.left,
	.carousel-showthree .carousel-inner > .item.prev.right,
	.carousel-showthree .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}