.site-footer.default {
	padding-top: 61px;

	.footer-container {
		padding: 40px 20px 32px;
	}

	.footer-copyright {
		text-align: center;
		letter-spacing: 0;
		border-top: 1px dashed;
		padding-top: 40px;
	}

		.footer-logo,
	.social-list {
		text-align: center;
	}

	.footer-logo + .footer-area-wrap {
		margin-top: 30px;
	}

	.footer-area {
		@include media-breakpoint-down(xs) {
			padding: 0 20px;
		}
	}

	@include media-breakpoint-up(md) {
		padding-top: 67px;

		.footer-container {
			padding: 20px 0 20px;
		}

		.social-list {
			margin: 42px 0 68px;
		}

		.footer-logo + .footer-area-wrap {
			margin-top: 61px;
		}
	}
}