.site-footer.minimal {
	.footer-container {
		padding: 56px 0 34px;
	}

	.site-info {
		&__flex {
			@include flexbox;
			@include flex-direction(column);
			@include flex-wrap(nowrap);
			@include justify-content(space-between);
			@include align-content(stretch);
			@include align-items(flex-start);

			.footer-logo {
				@include flex(0 1 21%);
				@include align-self(center);
				margin: 7px 0 3px;
			}

			.social-list {
				@include flex(0 1 20%);
				@include align-self(center);
				margin: 21px 0 8px;
			}

			.site-info__mid-box {
				@include flex(0 1 66%);
				@include align-self(center);
				text-align: center;
			}

			@include media-breakpoint-up(xl) {
				@include flex-direction(row);

				.footer-logo {
					min-width: 200px;
				}

				.social-list {
					@include order(2);
					margin: 23px 0 20px;
					white-space: nowrap;
					text-align: right;
				}

				.site-info__mid-box {
					@include order(1);
					text-align: left;
				}
			}
		}
	}

	.footer-copyright {
		display: block;
		margin-top: 17px;
		word-wrap: normal;
		-moz-hyphens: none;
		hyphens: none;
	}

	.footer-menu {
		display: block;
		vertical-align: middle;
	}

	@include media-breakpoint-up(md) {
		.footer-container {
			padding: 80px 0 57px;
		}

		.site-info__flex .social-list {
			margin: 39px 0 37px;
		}
	}

	@include media-breakpoint-up(xl) {
		.footer-container {
			padding: 64px 0 64px;
		}
	}
}
