html {
	box-sizing: border-box;
}

#page {
	overflow: hidden;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: border-box;
}

a,
a:hover,
a:active,
a:focus {
	outline: none !important;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

blockquote {
	position: relative;
	margin: 0;
	padding: 50px 30px 10px;

	cite {
		display: block;
		margin-top: 12px;

		&:before {
			content: '\2013';
			margin-right: 4px;
		}
	}

	&:before {
		content: "\201C";
		position: absolute;
		top: -7px;
		left: 30px;
		margin: 0;
		font-weight: 700;
		line-height: 1;
		font-size: 100px;
	}

	@include media-breakpoint-up(sm) {
		padding: 31px 30px 10px 58px;

		&:before {
			top: 15px;
			left: -2px;
		}
	}
}

ol, ul {
	list-style: none;
}

hr {
	border: 1px dashed $color__border;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	height: 1px;
	margin: 30px 0;
	background: transparent;
	overflow: hidden;
	clear: both;

	@include media-breakpoint-up(sm) {
		margin: 51px 0 42px;
	}
}

code {
	padding: 2px 5px;
}

p + p > img, p + img {
	margin-top: 26px;
}

p + p > img.alignnone {
	margin-top: 25px;
}

p > img {
	margin-bottom: 13px;
}

.offset {
	&-1 {
		margin-top: 32px;
		margin-bottom: 44px;
	}

	&-2 {
		margin-top: 10px;
	}

	&-3 {
		margin-top: 56px;
		margin-bottom: 46px;
	}
}

.cleasrfix {
	clear: both;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

.widget select {
	font-size: 16px;
}

.jssort01-99-66 .p.pav .c,
.jssort01-99-66 .p:hover .c,
.jssort01-99-66 .p.pdn .c {
	border: 1px solid $color__border;
}

.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close{
	opacity: 1;
}

.wpcf7{
	font-size: 16px;
}

.mfp-bg,
.mfp-figure:after{
	opacity: 1;
}

blockquote:before{
	font-style: normal;
}

.slider-pro.organica-smartslider__instance div.sp-more a{
	text-transform: none;
}

@import "tables";
