ul, ol {
	margin: 1.9em 0;
	padding-left: 0;

	.page .entry-content &, .entry-content & {
		li {
			position: relative;
			font-weight: 400;

			+ li {
				margin-top: 6px;
			}
		}
	}
}

ul {
	.page .entry-content > &, .entry-content > & {
		li {
			position: relative;
			padding-left: 10px;

			&:before {
				content: '\2022';
				position: absolute;
				top: 10px;
				left: 2px;
				font-size: .5em;
				line-height: 1;
			}
		}
	}
}

ol {
	.page .entry-content > &, .entry-content > & {
		counter-reset: li;

		> li {
			position: relative;

			&:before {
				content: counter(li, decimal-leading-zero) '.';
				counter-increment: li;
				margin-right: 4px;
			}
		}
	}
}

ol {
	.page .entry-content > &,
	.entry-content > &,
	.entry-summary > div &,
	.comment-content & {
		counter-reset: li;

		> li {
			position: relative;

			&:before {
				content: counter(li, decimal-leading-zero) '.';
				counter-increment: li;
				margin-right: 4px;
			}

			ol {
				counter-reset: li;
				> li {
					position: relative;

					&:before {
						content: counter(li, decimal-leading-zero) '.';
						counter-increment: li;
						margin-right: 4px;
					}
				}
			}
		}
	}
}

ul {
	.page .entry-content > &,
	.entry-content > &,
	.entry-summary > div &,
	.comment-content & {
		counter-reset: li;

		ol > li {
			position: relative;

			&:before {
				content: counter(li, decimal-leading-zero) '.';
				counter-increment: li;
				margin-right: 4px;
			}

			ol {
				counter-reset: li;
				> li {
					position: relative;

					&:before {
						content: counter(li, decimal-leading-zero) '.';
						counter-increment: li;
						margin-right: 4px;
					}
				}
			}
		}
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Inline list */
.inline-list {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		display: inline-block;
	}
}