.page-preloader-cover {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99999999;
	background-color: #fff;
	display: block;
}
svg {
	display:block;
	width:238px;
	height:258px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}

.circle-mask {
	transform-origin: 50% 90%;
	animation: scale 3s infinite ease-out;
}

.scale{
	transform-origin: 50% 90%;
	animation: scale 3s infinite ease-out;
}

@keyframes scale {
	0%, 100% {
		transform: scale(0.5);
	}

	50% {
		transform: scale(1);
	}
}

@include media-breakpoint-up(md){
	@keyframes scale {
		0%, 100% {
			transform: scale(0.5);
		}

		50% {
			transform: scale(1);
		}
	}
}

.sidebar .tm-wc-compare-wishlist-loader{
	svg{
		width:38px;
		height:58px;
	}

}