table {
	margin: 0 0 1.5em;
	width: 100%;
}

.entry-content {
	table {
		margin: 0 0 1.5em;
		max-width: 100%;
		border: 1px solid $color__border-table;

		th,
		td {
			padding: 5px;
			vertical-align: top;
			border: 1px solid $color__border-table;
		}

		thead th {
			vertical-align: bottom;
			border-bottom: 1px solid $color__border-table;
		}

		tbody + tbody {
			border-top: 1px solid $color__border-table;
		}
	}
}

body.woocommerce {
	table.shop_attributes {
		td,
		th {
			border-bottom: 1px solid $color__border-table;
		}

		tr{
			border-top: 1px solid $color__border-table;
		}
	}
}


.tablesaw-enhanced {
	.tablesaw-bar {

		.tablesaw-advance {
			padding-top: 50px;

			.btn.tablesaw-nav-btn {
				width: 47px;
				height: 49px;
				line-height: 49px;
				border-radius: 0;
				top: -50px;
				transition: 0s;
				box-shadow: none!important;
				font-weight: 100;
			}
		}

		a.btn {
			display: none;
			width: 49px;
			height: 49px;
			margin: 0;
			background-image: none;
			&:before {
				display: none;
			}

			&:after {
				display: block;
				font-size: 20px;
				font-family: 'Material Icons';
				line-height: 49px;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				text-align: center;
				text-indent: 0;
				transition: .3s all ease;
			}
		}
	}
}

.woocommerce .tablesaw th,
.woocommerce .tablesaw td,
.tm-woocompare-list .tm-woocomerce-list__product-image {
	text-align: center;
	float: none !important;
}

.tablesaw {
	thead tr:first-child th {
		padding: 0 40px;

		@include media-breakpoint-up(sm) {
			padding: 0;
		}
	}
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.left:after,
.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.down:after,
.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.up:after{
	content: '\e5cb';
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.up:after{
	transform: rotate(90deg);
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.down:after{
	transform: rotate(-90deg);
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.right:after{
	content: '\e5cc';
}

.tablesaw-enhanced .tablesaw-bar a.btn,
.tablesaw-enhanced .tablesaw-bar .woocommerce table.shop_table.wishlist_table .product-add-to-cart a.button,
.woocommerce table.shop_table.wishlist_table .product-add-to-cart .tablesaw-enhanced .tablesaw-bar a.button{
	border: 1px solid $color__border;
	background-color: #fff;
}