.container {
	&.site-header,
	&.site-content,
	&.site-footer {
		> .container {
			max-width: inherit;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

// Theme specific
.site-header,
.site-footer {
	&.container {
		max-width: 100%;
		padding: 0;
	}
}

.site-content {
	padding-top: 10px;

	@include media-breakpoint-up(sm) {
		padding-top: 27px;
	}
}

.single-post .post__tags {
	float: none;
}

.home {
	.site-content {
		padding-top: 10px;

		@include media-breakpoint-up(sm) {
			padding-top: 28px;
		}
	}

	.site-main {
		padding: 0;
		margin: 0;

		.hentry {
			margin: 0;

			.entry-content {
				margin: 0;
			}
		}
	}

	.widget_mpslwidget {
		@include media-breakpoint-down(xs) {
			margin-bottom: 0;
		}
	}
}

div#primary {
	width: 100%;
}

.position-one-right-sidebar,
.position-one-left-sidebar{
	.breadcrumbs + *{
		padding-top: 40px;
	}
}

.woocommerce.woocommerce-page #primary {
	padding-top: 16px;
}

.error-404 .page-title {
	font-style: normal;
	font-size: 150px;
	line-height: 1;
}

.boxed-wrap {
	margin: 0 auto;
}

.sidebar{
	aside.widget_search:first-child{
		padding-top: 0;
	}
}