@include media-breakpoint-up(lg) {
	.alignleft {
		float: left;
		margin: 32px 30px 32px 0;
	}

	.alignright {
		float: right;
		margin: 32px 0 32px 30px;
	}

	.aligncenter {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
}