.post {
	&-author {
		&-bio {
			padding: 0;
			margin: -1px 0 0;
		}

		&__holder {
			padding: 39px 10px 33px 33px;
		}

		&__avatar {
			float: left;
			margin: -3px 20px 10px 0;

			@media (max-width: 479px) {
				float: none;
			}

			.avatar {
				vertical-align: top;
				border-radius: 50%;
			}
		}

		&__title {
			margin-bottom: 14px;
		}
	}
}