.comments {
	&-area {
		position: relative;
		margin: 0;
		padding: 46px 0 44px 0;
		border-top: 1px solid $color__border;
	}

	&-title {
		margin-bottom: 44px;
	}
}

.comment {
	&-list {
		margin-bottom: 0;
		padding: 0 0 26px;
		overflow: hidden;
		list-style: none;

		.comment-respond {
			padding-right: 32px;
			padding-left: 32px;
		}

		.children {
			position: relative;
			padding-left: 10px;
			margin-left: 0;
			margin-top: 0;
			background: #fefefe;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: -250px;
				left: -250px;
				display: block;
				width: 5000px;
				height: 1px;
				background: $color__border;
			}

			.comment-body {
				border: none;
			}

			@include media-breakpoint-up(lg) {
				padding-left: 30px;
			}

			.comment-respond {
				position: relative;

				&:before {
					@extend .children:before;
				}
			}
		}

		> .comment {
			+ .comment {
				padding-top: 30px;
			}

			> .children {
				margin-top: -1px;
				border: 1px solid $color__border;

				&:before {
					display: none;
				}

				.comment + .comment {
					position: relative;

					&:before {
						content: '';
						position: absolute;
						top: 0;
						right: -250px;
						left: -250px;
						display: block;
						width: 5000px;
						height: 1px;
						background: $color__border;
					}
				}
			}
		}
	}

	&-body {
		padding: 34px 32px 43px 32px;
		border: 1px solid $color__border;

		&__holder {
			position: relative;

			@include media-breakpoint-up(sm) {
				padding-right: 18px;
			}
		}

		.avatar {
			float: none;
			margin: 5px 20px 15px 0;
			border-radius: 50%;
			width: auto;

			@include media-breakpoint-up(sm) {
				float: left;
				margin: 0 20px 0 0;
			}
		}

		.fn {
			margin-right: 4px;
		}

		.reply {
			position: absolute;
			top: -9px;
			right: -4px;
			z-index: 9;
			transition: all .3s ease;
		}
	}

	&-content {
		overflow: hidden;

		p {
			margin: 7px 0;
		}
	}

	&-reply-link {
		font-size: 17px;
		margin-bottom: 18px;

		.material-icons {
			font-size: 22px;
		}
	}

	&-date {
		display: inline-block;

		* + & {
			&:before {
				content: '\2022';
				margin-right: 8px;
				pointer-events: none;
			}
		}

		&__time {
			display: inline-block;
			vertical-align: top;
		}
	}

	&-metadata {
		padding-top: 7px;
	}
}