.share-btns {
	&__list {
		margin-top: 12px;

		.posts-list &, .search-results & {
			display: block;
			margin-top: 0;
			margin-bottom: 25px;

			@include media-breakpoint-up(sm) {
				float: left;
				margin-top: 12px;
			}
		}

		&:before {
			.posts-list & {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				display: block;
				content: '';
				height: 1px;
				background-color: transparent;
				pointer-events: none;
			}
		}

		.single-post & {
			margin-top: 5px;
		}
	}

	&__item {
		display: inline-block;
		vertical-align: top;
	}

	&__item + &__item {
		margin-left: 29px;
	}

	&__link {
		display: block;
		width: auto;
		height: auto;
		@include font-size(1);
		line-height: inherit;
		text-decoration: none;
		text-align: center;
		border-radius: 50%;
		opacity: 1;

		&:hover {
			opacity: 1;
		}
	}
}