.main-navigation {
	clear: both;
	display: block;
	width: 100%;

	&.isStuck{
		ul.menu > li{
			> a{
				@include media-breakpoint-up(md){
					padding-top: 20px;
				}
			}
		}
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			padding-left: 0;

			&:before {
				display: none;
			}
		}

		ul {
			position: absolute;
			top: 120%;
			visibility: hidden;
			opacity: 0;
			z-index: 99999;
			transition: .3s ease;
			transition-property: top, opacity, visibility;
			margin: 47px 0 0 -27px;
			left: -9999px;
			border-radius: 0;
			max-width: 204px;
			width: 204px;
			padding: 16px 28px;

			li {
				a {
					text-transform: none;
				}

				+ li {
					border-top: 1px solid #585e63;
				}

				ul.sub-menu {
					padding: 16px 28px;
					margin-top: 0;
					margin-left: 0;
					max-width: 194px;
					width: 194px;
				}
			}

			li {
				border-top: 1px solid rgba(0, 0, 0, .1);
				&:first-child {
					border-top: none;
				}
				> ul {
					top: -6px;
					background: #fff;
				}

				&:hover > ul,
				&.focus > ul,
				&.menu-hover > ul {
					top: -16px;
					left: calc(100% + 28px);
				}

				> ul.in-transition {
					left: calc(100% + 28px);
				}
			}

			a {
				width: 100%;
				text-align: left;
				padding: 10px 0 9px;
				position: relative;
				font-size: 16px;
				line-height: 20px;
			}

			> li:first-child > a {
				border-top: none;
			}

			li:hover > a,
			li.focus > a,
			li.menu-hover > a,
			li.current_page_item > a,
			li.current-menu-item > a,
			li.current_page_ancestor > a {
				&:before {
					top: 0;
					bottom: 0;
					opacity: 1;
				}
			}

			.page_item_has_children,
			.menu-item-has-children {
				> a {
					&:after {
						content: "\e5cc";
						font-family: "Material Icons";
						position: absolute;
						right: -2px;
						font-size: 22px;
						line-height: 1em;
					}
				}
			}

			@media (max-width: 600px) {
				position: static;
				opacity: 1;
				visibility: visible;
				box-shadow: none;
				background: none;
				margin: 0;

				li:before {
					content: "-";
					display: inline-block;
				}
			}
		}

		li:hover > ul,
		li.focus > ul,
		li.menu-hover > ul {
			top: 100%;
			left: 0;
			visibility: visible;
			opacity: 1;
		}

		li > ul.in-transition {
			left: 0;
		}
	}

	ul.menu {
		font-size: 0;
		line-height: 0;
		margin-left: -51px;

		&.menu-item_description-active {
			> li {
				margin: 0 0 35px 51px;
			}
		}

		> li {
			display: inline-block;
			margin: 0 0 15px 51px;

			.boxed-wrap & {
				margin: 0 10px;
			}
			> a {
				display: block;
				padding: 0;
				position: relative;
				transition: all ease .3s;

				&:before {
					content: "";
					display: block;
					left: 0;
					right: 0;
					height: 5px;
					position: absolute;
					top: 0;
					transition: all 200ms ease-out;
					opacity: 0;
					background: red;
				}

				@include media-breakpoint-up(md){
					padding-top: 60px;
				}
			}
			&:hover,
			&.menu-hover,
			&.current_page_item,
			&.current-menu-item,
			&.current_page_ancestor {
				> a {
					&:before {
						left: 0;
						right: 0;
						width: auto;
						opacity: 1;

						@media (max-width: 600px) {
							top: 0;
							bottom: 0;
							width: 5px;
							left: 0;
							right: auto;
						}
					}
				}
			}
		}
	}

	li {
		position: relative;
		text-align: left;
	}

	a {
		display: block;
		text-decoration: none;
		line-height: 1;
		position: relative;
	}

	.menu-item_description {
		position: absolute;
		padding: 3px 0 0 0;

		.sub-menu & {
			position: static;
		}
	}
	@include media-breakpoint-up(xl) {
		ul.menu {
			margin-left: -71px;

			&.menu-item_description-active {
				> li {
					margin: 0 0 35px 71px;
				}
			}

			> li {
				margin: 0 0 15px 71px;
			}
		}
	}
}

.set-menu {
	padding: 10px 0 20px;
}

.footer-menu {
	margin: 10px 0 15px;

	&__items {
		li {
			display: block;
			margin-bottom: 5px;

			+ li {
				margin-left: 15px;
			}

			@include media-breakpoint-up(sm) {
				display: inline-block;
			}
		}
	}
}

/* Small menu. */
.menu-toggle {
	display: inline-block;
	line-height: 12px;
	padding: 5px;
	margin-bottom: 10px;
	@media screen and (min-width: 37.5em) {
		display: none;
	}
}

.main-navigation {
	&.toggled {
		ul {
			display: block;
		}
	}
}

.main-navigation ul {
	display: block;

	@media screen and (min-width: 37.5em) {
		display: block;
	}
}


.rd-mobilemenu_ul .rd-mobilemenu_submenu li a,
.rd-mobilemenu_ul .rd-mobile-menu-shop a {
	font-size: 16px;
	text-transform: none;
}

.main-navigation .menu-item_description {
	font-weight: 400;
	font-size: 16px;
	text-transform: none;
	color: $color__reply;
}

.rd-mobile-currency select{ border: none; }