.site-header {
	margin-bottom: 30px;

	.social-list {
		.social-list__items {
			li.menu-item {
				a {
					&:hover {
						background: none;
					}
				}
			}
		}
	}
}

.header-container {
	box-shadow: none;
	padding-right: 15px;
	padding-left: 15px;
}

@media (max-width: 767px) {
	body header.site-header {
		&.centered, &.default, &.minimal {
			.header-container {
				padding-top: 21px;
				padding-bottom: 25px;

				.header-container_wrap .site-branding {
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}
	}
}

.header-container, header.site-header nav.main-navigation {
	@include media-breakpoint-up(md) {
		&.isStuck {
			position: fixed;
			width: 100%;
			left: 0;
			z-index: 9999;
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
			padding: 10px 0px 3px;
			background: #fff;
			width: 100%;

			#main-menu {
				padding: 0;
				margin-right: auto;
				margin-left: auto;
				text-align: center;
			}

			&.has-bar {
				margin-top: 32px;
				padding: 0;
			}
		}
	}
}

@media (max-width: 767px) {
	.site-header .top-panel__wrap .top-panel__message {
		display: none;
	}
}

@import "header/layout-default";
@import "header/layout-centered";
@import "header/layout-minimal";
@import "header/top-panel";
@import "header/logo";

.site-header-cart {
	position: relative;

	.cart-contents {
		position: relative;
		display: inline-block;
		cursor: pointer;

		.count {
			i {
				font-size: 34px;
				line-height: 1;
				vertical-align: middle;
			}

			span {
				display: inline-block;
				text-align: center;
				vertical-align: middle;
				padding: 0;
				min-width: 25px;
				min-height: 25px;
				line-height: 25px;

				border-radius: 50%;

				@include media-breakpoint-up(md) {
					position: absolute;
					top: -7px;
					right: -11px;
					min-width: 20px;
					min-height: 20px;
					line-height: 20px;
					padding: 0 4px;
					border-radius: 50%;
					font-size: 11px;
				}
			}
		}
	}

	.header-cart-dropdown {
		position: relative;
		z-index: 999;

		.shopping_cart-dropdown-wrap {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 20px;
			right: -16px;
			width: 354px;
			max-width: 354px;
			padding: 25px 31px 23px;
			background: #fff;
			box-shadow: 0 0 10px 3px rgba(165, 165, 165, .1);
			transition: all .3s ease;
			text-align: left;

			h4 {
				margin-top: 2px;
				margin-bottom: 8px;
			}

			.widget_shopping_cart_content {
				margin-top: 27px;
			}

			.cart_list.product_list_widget {
				max-height: 368px;
				overflow-y: auto;
				overflow-x: hidden;
				margin-right: -22px;

				li {
					margin-right: 22px;
					padding-right: 20px;
				}

				@media (max-height: 950px) {
					max-height: 239px;
				}

				@media (max-height: 780px) {
					max-height: 120px;

					li.mini_cart_item a img {
						width: 63px;
						margin-right: 10px;
					}
				}
			}

			@media (max-width: 479px) {
				width: 320px;
				max-width: 320px;

				.cart_list.product_list_widget li.mini_cart_item a img {
					width: 63px;
					margin-right: 10px;
				}
			}
		}

		&-active {
			.shopping_cart-dropdown-wrap {
				opacity: 1;
				visibility: visible;
				top: 13px;
			}
		}
	}
}

@media (max-width: 782px) {
	.header-container.isStuck.has-bar, header.site-header nav.main-navigation.isStuck.has-bar {
		margin-top: 46px;
	}
}

header.site-header .main-navigation.stuckMenu.isStuck ul.menu > li:hover > ul,
header.site-header .main-navigation.stuckMenu.isStuck ul.menu > li > ul {
	margin-top: 20px;
}

header.site-header .header-container .menu-item_description {
	white-space: nowrap;
	right: 0;
	bottom: -23px;
	left: -16px;
	pointer-events: none;
}

@media (max-width: 767px) {
	header.site-header .header-container.stuckMenu {
		padding-top: 19px;
		padding-bottom: 12px;

		.site-branding {
			float: none;
		}
	}
}

.header-container_wrap {
	@include clearfix-wootheme;

	@media (max-width: 767px) {
		text-align: center;
	}
}

.header-container.isStuck {
	z-index: 999;

	@media (max-width: 1199px) {
		position: static;
		width: 100%;
		left: 0;

		&.has-bar {
			margin-top: 0;
		}
	}
}

.wcj_widget_multicurrency {
	cursor: pointer;
}

#lang_sel {
	display: block;
	width: auto;
	max-width: 300px;
	height: 50px;
	> ul > li > a {
		&:after {
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
			right: 16px;
			font-family: Material Icons;
			content: '\e5cf';
			font: 400 16px/39px "Material Icons";
			position: absolute;
			z-index: 1;
			color: #fff;
			pointer-events: none;
		}
	}
	ul {
		width: auto;
		li {
			width: auto;
			float: none;
			background: transparent;
			transition: all ease .3s;

			a {
				font-size: 14px;
				line-height: 22px;
				padding: 14px 21px;
				border-color: $color__border;
				&:hover {
					background: none;
				}
				&.lang_sel_sel {
					background: none;
					transition: all ease .3s;
					&:hover {
						background: transparent;
					}
				}
				&:visited {
					border-color: $color__border;
				}
			}
			&:hover {
				ul {
					opacity: 1;
				}
			}
			ul {
				width: 100%;
				top: 47px;
				opacity: 0;
				transition: all ease .3s;
				li {
					a {
						padding: 2px 13px
					}
					&:hover {
						a {
							background: transparent;
						}
					}
				}
			}
		}
	}
}

.site-header {
	margin-bottom: 0;
}

.header-container {
	box-shadow: 0 0 10px 3px rgba(165, 165, 165, .06);
}

header.site-header .header-container .site-branding {
	text-align: center;
	padding: 0;
	margin-right: 0;
}