.post {
	/* Gallery */
	&-gallery {
		margin: 25px 0 0;

		.entry-content & {
			margin-top: 10px;
		}
		img {
			display: block;
		}
		.swiper-button-next,
		.swiper-button-prev {
			margin-top: -25px;
			top: 50%;

			font-size: 18px;
			border: none;
		}
		.swiper-button-prev {
			left: 0;
		}
		.swiper-button-next {
			right: 0;
		}
		.material-icons {
			font-size: 24px;
		}
		&__caption {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 15px;
			background: rgba(0, 0, 0, .5);
			color: #fff;
		}
		&__link {
			display: block;
		}
	}
	/* Link */
	&-format-link {
		display: inline-block;
		margin: 10px 0;
		padding: 10px 20px 10px 15px;

		.post & {
			text-decoration: underline;
		}
	}
	&-thumbnail {
		.has-thumb & {
			position: relative;
		}
		&__format-link {
			.has-thumb & {
				position: absolute;
				top: 50%;
				right: 0;
				bottom: auto;
				left: 0;
				@include transform(translateY(-50%) translateZ(0));
				text-align: center;

				.post-format-link {
					text-decoration: none;
					padding: 8px 25px 11px;
					margin: -2px 0 0;
				}
			}
		}
	}

	/* Quote */
	&-format-quote {
		@extend blockquote;

		@include media-breakpoint-up(sm) {
			&:before {
				top: 15px;
			}
		}
	}

	&-featured-content.format-quote {
		padding: 15px;

		@include media-breakpoint-only(sm) {
			padding: 43px 43px 39px 47px;
		}

		@include media-breakpoint-up(lg) {
			padding: 43px 43px 39px 47px;
		}
	}

	/* Wrapper for non-image featured content */
	&-featured-content {
		margin-top: 33px;

		.posts-list--masonry-3-cols &,
		.posts-list--masonry-2-cols & {
			overflow: visible;
		}

		.format-video & {
			background: none;
		}
		.post__cats {
			margin: 10px 0 0 10px;

			@include media-breakpoint-up(lg) {
				margin: 30px 0 0 30px;
			}

			.format-video & {
				position: absolute;
				left: 0;
				top: 0;
				margin: 10px;
				@include media-breakpoint-up(lg) {
					margin: 30px;
				}
				&:first-child {
					position: static;
				}
			}
		}
	}

	&.format-status {
		.post__cats {
			padding: 0 0 10px;
		}
	}
}

.embed-wrapper {
	.twitter-tweet {
		margin: 10px auto !important;
		max-width: 90% !important;
	}
}

.fb_iframe_widget {
	max-width: 100%;
	> span {
		max-width: 100%;
	}
}

.format-video .post-featured-content, .posts-list .post-thumbnail--fullwidth {
	display: block;
	margin: 25px 0 0;
}

.blog .post_format-post-format-aside header * + .entry-meta {
	margin-top: 28px;
	display: inline-block;
}

.post_format-post-format-video {
	P {
		iframe {
			width: 100%;
		}
	}
}

.post-format-link {
	font-size: 11px;
	line-height: 31px;

	@include media-breakpoint-up(md){
		font-size: .8em;
	}
}

.posts-list--grid-2-cols .post-thumbnail__format-link .post-format-link,
.posts-list--grid-3-cols .post-thumbnail__format-link .post-format-link,
.posts-list--masonry-2-cols .post-thumbnail__format-link .post-format-link,
.posts-list--masonry-3-cols .post-thumbnail__format-link .post-format-link{
	line-height: 48px;
}