.site {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto; // IE10+
	-o-hyphens: auto;
	hyphens: auto;

	&-main {
		.single-post &,
		.page &{
			padding: 0 0 10px;
			margin: 0 0 10px;

			@include media-breakpoint-up(lg) {
				padding:0 0 30px;
				margin: 0 0 30px;
			}
		}

		.single &{
			margin: 0;

			@include media-breakpoint-up(lg) {
				margin: 0;
			}
		}

	}
}

@import "../layout/layout";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "primary/header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
@import "primary/post-formats";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "primary/footer";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";