$border__radius: 0;
$box__shadow: none;
$box__shadow_mobile: none;

$button__size: 18px;
$button__line-height: 22px;
$button__text-transform: none;
$button__indents: 14px 18px 13px 18px;
$button__border-radius: 0;
$button__border: none;
$button__box-shadow: none;

$color__background-body: #fff;
$color__background-hr: #fbfbfc;

$color__input-placeholder : #141d23;
$invert-color__input-placeholder : #fff;
$color__reply : #939393;

$color__border: #c6c6c6;
$color__border-breadcrumbs: #c6c6c6;
$color__border-input: $color__border;
$color__border-table: $color__border;

$color__border_chosen: #f7f7f7;
