.site-header.minimal {
	.header-container {
		padding-top: 47px;
		padding-bottom: 31px;

		.header-container_wrap {
			@include flexbox;
			@include justify-content(space-between);
			@include flex-direction(row);
			@include flex-wrap(wrap);
			@include align-content(flex-start);
			@include align-items(flex-start);

			.site-branding {
				padding-bottom: 35px;
				@include flex(0 1 100%);
				@include align-self(auto);
				text-align: center;
			}

			.social-list {
				margin-top: 17px;
				@include flex(0 1 30%);
				@include align-self(auto);
				margin-left: -3px;
			}

			.site-header-cart {
				margin-top: 8px;
				margin-bottom: 0;
				text-align: right;
				@include flex(0 1 10%);
				@include align-self(auto);
			}

			nav.main-navigation {
				@include flex(0 1 100%);
				@include align-self(auto);

				ul.menu {
					padding: 0;
				}

				&.stuckMenu.isStuck {
					ul.menu {
						margin-left: auto;
						margin-right: auto;
					}

					#main-menu{
						margin-left: auto;
						margin-right: auto;
						text-align: left;

						> li:first-child{
							margin-left: 0;
						}
					}

					@include media-breakpoint-up(md) {
						ul.menu {
							max-width: 690px;
						}
					}

					@include media-breakpoint-up(lg) {
						ul.menu {
							max-width: 910px;
						}
					}

					@include media-breakpoint-up(xl) {
						ul.menu {
							max-width: 1170px;
						}
					}
				}
			}

			@include media-breakpoint-up(md) {
				.site-branding {
					text-align: left;
					@include flex(0 1 60%);
				}
			}

			@include media-breakpoint-up(lg) {
				.social-list {
					@include flex(0 1 22%);
				}

				.site-branding {
					@include flex(0 1 70%);
				}

				.site-header-cart {
					@include flex(0 1 8%);
				}
			}

			@include media-breakpoint-up(xl) {
				.social-list {
					margin-top: 3px;
					margin-left: 0;
					@include flex(0 1 18%);
					@include order(2);
				}

				.site-branding {
					@include flex(0 1 100%);
					@include order(-1);
				}

				.site-header-cart {
					margin-top: -7px;
					@include flex(0 1 6%);
					@include order(3);
				}

				nav.main-navigation {
					@include flex(0 1 74%);
					@include order(1);
				}
			}
		}
	}
}