.top-panel {
	position: relative;
	z-index: 9;
	padding: 0;

	&__wrap {
		@include flexbox;
		@include flex-direction(row);
		@include flex-wrap(wrap);
		@include justify-content(space-between);
		@include align-items(flex-start);
		@include align-content(flex-start);

		&:after {
			clear: both;
			content: "";
			width: 100%;
			display: block;
		}

		.widget {
			margin: 0;
		}

		.chosen-container{
			margin-top: 12px;
			margin-right: 22px;
		}

		.woocommerce-currency-switcher-form{
			@include media-breakpoint-down(sm){
				display: none;
			}
		}

		.div_dropdown_top_menu {
			text-align: left;
			position: relative;
			z-index: 99;
			@include flex(0 1 26%);
			@include align-self(auto);
			margin-top: 19px;
			margin-bottom: 17px;

			.material-icons {
				color: #fff;
				font-size: 20px;
				text-align: center;
				display: block;
				cursor: pointer;
			}

			.material-icons-more_horiz {
				position: relative;

				&:before,
				&:after {
					transition: all .3s ease;
					position: absolute;
					text-align: center;
					top: 50%;
					left: 0;
					right: 0;
					font-family: "Material Icons";
				}

				&:before {
					content: "\e5d3";
					@include transform(translateY(-50%) rotate(0deg) scale(1));
				}

				&:after {
					content: "\e5cd";
					opacity: 0;
					@include transform(translateY(-50%) rotate(-90deg) scale(0));
				}

				&.dropdown_top_menu-active {
					&:before {
						content: "\e5d3";
						opacity: 0;
						@include transform(translateY(-50%) rotate(90deg) scale(1));
					}

					&:after {
						content: "\e5cd";
						opacity: 1;
						@include transform(translateY(-50%) rotate(0deg) scale(1));
					}
				}
			}
		}

		.search_switcher_block {
			@include flex(0 1 25%);
			@include align-self(auto);
			@include flexbox();
			@include justify-content(flex-end);
			text-align: right;

			.site-search {
				margin-top: 14px;
				margin-bottom: 11px;
				display: inline-block;
				text-align: left;
				vertical-align: top;
			}

			.currency_switcher {
				z-index: 99;
				text-align: left;
				vertical-align: top;
				margin-top: 12px;

				@include media-breakpoint-up(md) {
					display: inline-block;
				}

				.chosen-container-single .chosen-single {
					padding: 5px 25px 5px 12px;

					&:before {
						top: 5px;
						right: 0;
					}
				}
				.chosen-container {
					.chosen-results li {
						padding: 10px;
					}

					.chosen-drop {
						top: 46px;
					}
				}
			}
			#lang_sel {
				display: inline-block;
				text-align: left;
				height: auto;
				margin-top: 12px;

				ul {
					li {
						a {
							border: none;
						}

						ul {
							top: 46px;
							border-top: none;
							width: 120px;
							z-index: 99;

							li {
								a {
									line-height: 30px;
								}
							}
						}
					}
				}
			}
		}

		.chosen-container {
			border: none;
			font-size: 16px;
		}

		.widget_product_search {
			.widgettitle{
				display: none;
			}

			form {
				position: relative;

				input[type="search"] {
					width: 100%;
					background-color: transparent;
					font-size: 16px;
					line-height: 22px;
					font-weight: 400;
					padding: 5px 30px 5px 19px;
					border: none;
					font-style: normal;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					color: #fff;
					max-width: 80%;

					@include media-breakpoint-up(md){
						max-width: 123px;
						&:focus {
							box-shadow: none;
							max-width: 200px;
						}
					}

					&::-webkit-input-placeholder {
						color: #fff;
					}
					&::-moz-placeholder {
						color: #fff;
					}
					&:-moz-placeholder {
						color: #fff;
					}
					&:-ms-input-placeholder {
						color: #fff;
					}


				}

				button {
					position: absolute;
					width: 25px;
					top: 6px;
					right: 2px;
					bottom: 2px;
					line-height: 0;
					background: transparent;
					padding: 0;
					z-index: 2;
					line-height: 1;
					text-align: center;
					transition: all ease .3s;

					i {
						font-size: 20px;
						line-height: 20px;
						width: auto;
						height: auto;
					}
				}
			}
		}

		.chosen-container-single .chosen-drop {
			margin-top: 10px;
		}
	}

	&__message {
		@include flex(0 1 auto);
		@include align-self(auto);
		margin-top: 16px;
		margin-bottom: 13px;
		color: #fff;
		text-align: center;

		i{
			margin-right: 10px;
		}
		
		h6 {
			margin-top: 0;
			margin-bottom: 5px;

			[class*='material-icons'] {
				position: relative;
				top: 5px;
				margin-right: 5px;

				&:before {
					font-family: "Material Icons";
				}
			}
		}
	}

	&__search {
		float: right;
	}

	&__menu {
		width: 205px;
		position: absolute;
		left: -26px;
		top: 38px;
		visibility: hidden;
		opacity: 0;
		transition: all ease .3s;

		&.show {
			visibility: visible;
			opacity: 1;
		}

		&-list {
			list-style: none;
			margin: 0;
			padding: 16px 30px 20px;

			.menu-item {
				font-size: 16px;
				line-height: 20px;
				display: block;

				a {
					display: block;
					padding: 10px 0 9px;
				}

				+ .menu-item {
					border-top: 1px solid #585e63;
				}
			}

			li {
				display: inline-block;
				padding: 0;

				a {
					text-decoration: none;
				}

				&.current-menu-item,
				&.current_page_item,
				a:hover {
					text-decoration: none;
				}
			}
		}
	}
}