.motoslider_wrapper {

	.sm-hidden{
		@include media-breakpoint-down(sm){
			display: none!important;
		}
	}

	.text-layer-1{
		right: 17px!important;
	}

	.text-center{
		text-align: center!important;
	}

	.ms_wrapper {
		* {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
	}

	.ms_button_layer {

		@include media-breakpoint-up(sm) {
			display: inline-block;
		}
	}

	@media (max-width: 479px) {
		.ms_layer {
			margin-top: 24px !important;
		}
	}

	.ms_pagination {
		bottom: 12%;

		.ms_bullet_wrapper {
			width: 100%;
			max-width: 1200px;
			text-align: left;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;

			.ms_bullet {
				border-width: 2px;
				border-style: solid;
				width: 24px;
				height: 24px;
				padding: 4px;
				margin: 0 0 6px 0;
				transition: all .3s ease;
				border-radius: 50%;
				opacity: 1;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;

				&.ms_active, &:hover {
					transition: all .3s ease;
					opacity: 1;
				}

				+ .ms_bullet {
					margin-left: 6px;
				}
			}

			@media (min-width: 1200px) and (max-width: 1400px) {
				max-width: 940px;
			}

			@media (min-width: 992px) and (max-width: 1199px) {
				max-width: 940px;
			}
		}
	}

	.ms_arrows {
		.ms_prev, .ms_next {
			margin-top: -49px;
			width: 83px;
			height: 83px;
			text-align: center;
			border-radius: 0;
			transition: all .3s ease;
			opacity: 1;

			&:before {
				@include material-icon();
				position: relative;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				transform: none;
				margin: 0;
				font-size: 45px;
				line-height: 83px;
				background-color: transparent;
			}

			&:after {
				display: none;
			}

			&:hover {
				transition: all .3s ease;
			}
		}

		.ms_prev {
			left: 0;

			&:before {
				content: "keyboard_arrow_left";
			}
		}

		.ms_next {
			right: 0;

			&:before {
				content: "keyboard_arrow_right";
			}
		}
	}
}

.ms_layers_wrapper {
	@media (min-width: 992px) and (max-width: 1400px) {
		left: 0 !important;
		right: 0 !important;
		padding-right: 15px !important;
		padding-left: 15px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	@media (min-width: 1200px) and (max-width: 1400px) {
		max-width: 940px !important;
	}

	@media (min-width: 992px) and (max-width: 1199px) {
		max-width: 940px !important;
	}
	@media (max-width: 991px) {
		left: 15px !important;
		right: 15px !important;
	}
}

@media (max-width: 1199px) {
	.ms_arrows {
		display: none;
	}
}

.full-width-header-area .motoslider_wrapper {
	margin-right: -15px;
	margin-left: -15px;
}