.sidebar,
.footer-area .col-md-4,
.footer-area .col-md-3,
.footer-area .col-md-2 {
	.swiper-carousel-container {
		.swiper-button-next, .swiper-button-prev {
			width: 30px;
			height: 30px;
			top: auto;
			bottom: 0;

			i {
				margin: 3px;
			}

			&:after {
				line-height: 30px;
			}
		}

		.swiper-button-prev {
			right: 29px;
		}
	}
}

.widget_product_categories_image {
	overflow: hidden;
	margin-bottom: 0;

	.swiper-container {
		overflow: visible;
		padding-bottom: 30px;
	}
}

.tm_products_carousel_widget {
	position: relative;

	.swiper-button-next,
	.swiper-button-prev {
		top: 173px;
		bottom: auto;
		font-size: 22px;

		@media (max-width: 480px){
			top: 35%;
		}

		&.swiper-button-disabled {
			opacity: 0;
			visibility: hidden;
		}
	}

	.swiper-button-next {
		right: 0;
		margin-right: 0;
	}

	.swiper-button-prev {
		left: 0;
		margin-left: 0px;
	}

	@include media-breakpoint-up(sm) {
		.swiper-button-next,
		.swiper-button-prev {
			top: 201px;
		}
	}
}

.swiper-carousel-container {
	position: relative;

	.widget_carousel & {
		overflow: hidden;
	}

	.swiper-pagination {
		position: static;
	}
}

.swiper-pagination,
.swiper-container-horizontal > .swiper-pagination-bullets {
	position: absolute;
	bottom: 5px;

	.swiper-pagination-bullet {
		opacity: 1;
		transition: all .3s ease;
		width: 12px;
		height: 12px;
		margin: 0 4px;
	}
}

.widget_carousel {
	.swiper-wrapper {
		.swiper-slide {
			display: flex;
			height: auto;
		}
	}
}

.swiper-button-next,
.swiper-button-prev {
	top: auto;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: 0;
	display: none;
	transition: all .3s ease;
	visibility: visible;
	opacity: 1;

	&:hover{
		z-index: 20;
	}

	i {
		display: none;
	}

	&:after {
		display: block;
		text-align: center;
		font-family: 'Material Icons';
		text-indent: 0;
		line-height: 39px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		transition: .3s all ease;
	}

	&.swiper-button-disabled {
		opacity: .5;
	}

	@include media-breakpoint-up(sm) {
		width: 49px;
		height: 49px;

		&:after {
			line-height: 48px;
		}
	}
}

.sidebar,
.site-footer{
	.swiper-button-next,
	.swiper-button-prev{
		bottom: 50px;
	}
}

.swiper-button-next {
	right: 50%;
	margin-right: -39px;

	&:after {
		content: "\e5cc";
	}

	@include media-breakpoint-up(sm) {
		right: 1px;
		margin-right: 0;
	}
}

.swiper-button-prev {
	left: 50%;
	margin-left: -40px;

	&:after {
		content: "\e5cb";
	}

	@include media-breakpoint-up(sm) {
		right: 49px;
		left: auto;
		margin-left: 0;
	}
}

.swiper-wrapper {
	.hentry.post + .post {
		margin-top: 0;
	}

	.post {
		@include box-shadow();
		padding: 0 0 55px;

		&.hentry {
			padding: 0 0 54px;
			border-bottom: none;

			@include media-breakpoint-up(sm) {
				padding: 0 0 51px;
			}
		}

		&:hover {
			box-shadow: none;
		}

		.inner {
			width: 100%;
			overflow: hidden;
			border-radius: $border__radius;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-self: stretch;
		}

		.entry {
			&-header {
				padding-top: 0;
			}

			&-content {
				margin-top: 0;

				@include media-breakpoint-up(sm) {
					margin-top: 9px;
				}
			}

			&-footer {
				margin-top: 2px;

				@include media-breakpoint-down(xs) {
					padding-right: 20px;
					padding-left: 20px;
				}

				@include media-breakpoint-up(sm) {
					margin-top: 7px;
				}

				.btn {
					float: none;
					padding: 0;
				}
			}
		}

		h2 {
			margin-top: 6px;
			margin-bottom: 0;

			@include media-breakpoint-down(xs) {
				padding-right: 20px;
				padding-left: 20px;
			}

			@include media-breakpoint-up(sm) {
				margin-top: 3px;
				margin-bottom: 9px;
			}
		}

		.post-thumbnail__link {
			overflow: hidden;
			margin-bottom: 0.4em;
			display: block;

			@include media-breakpoint-up(sm) {
				margin-bottom: 1.3em;
			}

			img {
				width: 100%;
				display: block;
				@include transform(scale(1));
				transition: all .5s ease;
			}

			&:hover {
				img {
					@include transform(scale(1.05));
				}
			}
		}

		&__cats {
			a:before {
				content: ' ';
			}
		}
	}
}

.woocommerce .products.swiper-wrapper {
	div.product .star-rating {
		opacity: 1;
	}
}

.sidebar .tm_products_carousel_widget{
	div.products {
		margin-bottom: 10px;
	}
}