button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button;

	&:hover {
	}

	&:active,
	&:focus {
	}
}

.btn, .button {
	@include button;

	&__text,
	&__icon {
		display: inline-block;
		vertical-align: top;
	}

	&.btn-fullwidth {
		width: 100%;
		text-align: center;
	}
}

.btn,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wpcf7-submit,
.woocommerce button.button,
body.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
body.woocommerce .wishlist_table td.product-add-to-cart a.button,
body.woocommerce .button,
body.woocommerce button.button,
.woocommerce input.button,
.woocommerce a.button,
body.woocommerce-account a.button,
.post-password-form label + input {
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
}

@media (max-width: 543px) {
	.swiper-wrapper .post .entry-footer .btn {
		font-size: 14px;
	}
}

.tm-woocompare-button-single,
.tm-woowishlist-button-single {
	vertical-align: top;
}

button,
a {
	&.tm-woocompare-button.tm-woocompare-button-single,
	&.tm-woowishlist-button.tm-woowishlist-button-single,
	&.tm-woocompare-page-button.btn,
	&.tm-woowishlist-page-button.btn {

		&,
		.text {
			font-size: 18px;
			text-transform: none;
		}
	}
}

#commentform input[type="submit"],
body.woocommerce .form-submit button.button {
	font-size: 12px;
	padding: 13px 21px 13px;
}

.woocommerce {
	#respond {
		input#submit, {
			&.disabled,
			&:disabled,
			&:disabled[disabled] {
				padding: 14px 18px 12px 18px;
			}
		}
	}

	a.button,
	button.button,
	input.button {
		&.disabled,
		&:disabled,
		&:disabled[disabled] {
			padding: 14px 18px 12px 18px;
		}
	}

	.product {
		a.button,
		button.button,
		input.button {
			padding: 12px 16px 12px 16px;
		}
	}
}